@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture,
img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

/*Root Settings*/

:root {
    /* Primary */

    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Font Weight */

    --light: 400;
    --bold: 600;

    /* Font Family */

    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

/*Basic Styles*/

body {
    background: url(../images/bg-mobile.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: var(--ff-primary);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 1rem;
    padding: 0 10%;
}

.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    color: white;
}

/*Header*/

.header {
    display: grid;
    align-content: center;
}

.header__heading {
    width: min(43%, 13rem);
}